# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# Logs and local data
*.log

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
